
.img{
    width:15%;
    height: 50;
    height: 50;
    border: 2px solid white;
    margin-left: auto;
  
  }

  label{
    color:white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color:rgb(77, 77, 77);

}
.div1{
    margin-right: 8px;
    margin-left: 8px;

}
